:root{
    --primary: #33CC95;
    --accent: #FFC120;

    --white: #ffffff;
    --dark: #191919;
    --dark-grey: #7F7F7F;
    --grey: #BABABA;
    --grey-light-2: #F3F3F3;
    --grey-light-1: #F6F6F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080px){
        font-size: 93,75%;
    }

    @media (max-width: 720px){
        font-size: 87,5%;
    }
}

body {
    background: var(--background);
    -webkit-font-smooth: antialiased;
}

body, input, textarea, button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

h1, h2, strong {
    /* font-weight: 600; */
    font-family: 'DM Sans', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'PT Sans Caption', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
}